*.bak
/.metadata/
/.recommenders/
Archive
.DS_Store
.*.swp
/.gradle/
/reports/
/generated/
.to
bin/
target/
build/
.properties
nexus-nodemanager-proxy/cfg/
docker-pull.sh
debug-log/
kafka-test-ui/scripts/
EmberPlusTest/LoopTest.txt
CsvToScript/output

kafka-test-ui/kafka-tree
NexusDiscoveryTester/NexusDiscoveryTester/
kafka-test-ui/backups/test.project
*.lck
test-mqtt/
persistor-service/tmp/
ember-wrapper-test/Test.xml
/WB-Reader
/Nexus4Client
/nexus-discovery/configs/
/NexusTesterStarter/status
/kafka-test-ui/cfg/Madinah System A 6.1
/kafka-test-ui/commands
